@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=le+murmure:normal=swap');

body {

  font-family: 'Le murmure', serif;

  line-height: 1.45;
  color: grey;
  width: 100%;
}
h1 {
  font-size: 5em;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 70px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline overline;
  text-decoration-style: ;
  text-decoration-color: yellow;
  color: black;
}
h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 80px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration-line: underline;
  text-decoration-style: ;
  text-decoration-color: yellow;
}
h3 {
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 80px;
}
p {
  overflow: scroll;
  text-align: justify;
  margin-bottom: 1.25em;
  font-weight: 300;
  color: black;
}
.content {
  font-family: 'roboto slab', serif;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
    height: 15em;
    border: hidden;
    border-left-style: double;
    border-bottom-style: double;
    border-color: yellow;
    overflow: scroll;
}
.content2 {
  font-family: 'roboto slab', serif, bold;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;

}
